@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the wacky world of jokesters and jesters! Prepare to have your funny bone tickled and your laughter unleashed like a herd of giggling hyenas. Our hilarious home is where comedy aficionados like you gather to embark on a chuckle-filled adventure. From witty one-liners to puns that'll make you groan louder than a grandpa's knee, we've got it all. So whether you're a stand-up star in the making or simply in dire need of a good guffaw, you've stumbled upon the virtual comedy club that will leave your sides aching (in the best possible way, of course). Get ready to ROFL, LOL, and maybe even snort-laugh a little—we won't judge. Embrace your inner jester, my friend, and let's dive headfirst into a world where laughter reigns supreme!</p>
</div>
