@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy, ahoy! We take the protection of your hilarious secrets as seriously as we take our quest for the perfect punchline. Rest assured, your personal information is guarded tighter than a comedian's last slice of pizza. We promise not to share, sell, or trade your data for a lifetime supply of knock-knock jokes. Your jokes belong to you, like that one-liner you proudly dropped at the office party. Remember, we're here to make you laugh, not to spill the beans on your comedic genius. So kick back, register with confidence, and let the jokes flow like an uncontrollable fit of laughter at a library. Just make sure you don't fall off your chair while ROFLing – we can't be held responsible for that!</p>
